.about-bg{
    background-image: url('https://i.ibb.co/4794rPc/wilder1.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}